@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button,
input,
textarea {
  all: unset;
  cursor: pointer;
}

body {
  height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  color: #111517;
  text-decoration: none;
}

#root {
  height: 100vh;
}
